---
interface Props {
  code: string;
  language: string;
}

const { code, language } = Astro.props;
---

<div class="relative">
  <div class="absolute top-0 right-0 flex space-x-2 p-4">
    <div class="w-3 h-3 rounded-full bg-red-500"></div>
    <div class="w-3 h-3 rounded-full bg-yellow-500"></div>
    <div class="w-3 h-3 rounded-full bg-green-500"></div>
  </div>
  <pre class="bg-[#1a1b26] rounded-lg p-6 pt-12 overflow-x-auto"><code class={`language-${language}`}>{code}</code></pre>
</div>

<style>
  pre {
    font-family: 'Fira Code', monospace;
  }
  code {
    color: #a9b1d6;
  }
</style>